/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/src/
/vendor/
/composer.phar
/bin/Tutto/FrontendBundle/*
/bin/Tutto/DataGridBundle/*
