{% extends 'FrontendBundle::layout.email.html.twig' %}

{% block content %}
    <h3>Reset password</h3>
    <p>
        Your login is: <a href="{{ url('_login', {'_username': account.getEmail()}) }}">{{ account.getEmail() }}</a>
        Your new password is: '{{ new_password }}' (without quotes)
    </p>
{% endblock content %}