parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: root

    mailer_transport: smtp
    mailer_port: 443
    mailer_host: smtp.gmail.com
    mailer_auth_mode: login
    mailer_sender_address: ~
    mailer_user: ~
    mailer_password: ~
    assets_base_urls: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
