@font-face {
    font-family: 'OpenSans';
    src:
        url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'OpenSans';
    font-size: 13px;
}

.flash-message {
    padding: 10px;
    margin: 5px 0px;
    color: #FFFFFF;
}
.flash-message.error {
    background-color: #db5a4e;
}
.flash-message.success {
    background-color: #54db40;
}
.flash-message.alert {
    background-color: #dbda43;
}