{% extends 'TuttoFrontendBundle::layout.html.twig' %}

{% block content %}
<div>
    <div class="filters"></div>
    <div class="grids">
        {{ grid|raw }}
    </div>
    <div class="pagination"></div>
</div>
{% endblock content %}